a {
    color:red;
    text-decoration: underline;
}

#karpov {
    border: 2px solid red;
}

#karpov p {
    border: 1px solid blue;
}

#botvinik a:hover {
    text-decoration:line-through;
    font-weight: bold;
}

#kasparov p:nth-child(even){
    background-color: gray;
    color:black;
    
}

#kasparov p:nth-child(odd) {
    background-color: black;
    color:gray;
}

p:first-letter, h1:first-letter {
    font-size: 2em;
    color:green;
    
}
